<!-- views/update-product.ejs -->

<h1 class="mt-5 mb-4 header">Update Product</h1>

<% if (successMessage) { %>
  <div class="alert alert-success" role="alert">
    <%= successMessage %>
  </div>
<% } %>

<% if (validationErrors) { %>
    <div class="alert alert-danger" role="alert">
        <% validationErrors.forEach((error) => { %>
            <p>• <%= error.msg %></p>
        <% }) %>
    </div>
<% } %>

<form action="/update-product/<%= product.id %>" method="post" enctype="multipart/form-data">

  <input type="hidden" class="form-control" id="id" name="id" value="<%= product.id %>" />


  <div class="mb-3">
    <label for="name" class="form-label fw-bold">Product Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>"/>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label fw-bold">Product Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"><%= product.description %></textarea>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label fw-bold">Price</label>
    <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>" step="0.01" min="0" />
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label fw-bold">Image URL</label>
    <input type="file" accept="image/*" class="form-control" id="imageUrl" name="imageUrl"/>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
